<!--
#############################################################################################
# File:         home.html
# Description:  Displays the home user interface
# Created by:   Ron Robertson
# Copyright:    Copyright 2017 Ron Robertson all rights reserved.
#############################################################################################
-->

<div class='section' id='section_projects'>
    <h1 id='projects'></h1>
</div><!--END section_projects-->

<div class='section' id='section_team'>
    <h1 id='team'></h1>
</div><!--END section_teams-->